     @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Platypi:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-style: normal;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #container {
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            padding: 20px 10px;
        }

        .input-box {
            max-width: 600px;
            width: 100%;
            font-size: 16px;
            border-radius: 30px;
            box-shadow: 1px 1px 3px rgb(232, 231, 230);
            border: 1px solid #202020;
            padding-right: 8px;
            overflow: hidden;
             margin: 1vh;

        }
        input{
            border: none;
            outline: none;
            width: 90%;
            background: transparent;
            height: 100%;
            padding: 10px;
            overflow: hidden;
        }
     
        #searchBtn{
            cursor: pointer;
            transition: all 0.4s ease;

        }
        #searchBtn:hover{
            transform: scale(1.3);
        }
        #loadMoreBtn {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        #imageContainer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            justify-content: center;
            margin-top: 20px;
        }

        .imageItem {
            cursor: pointer;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            position: relative;
        }

        .imageItem img {
            width: 100%;
            display: block;
            margin: 12px 0;
            position: relative;
        }

        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
            z-index: 9999;
        }

        #overlay img {
            max-width: 90%;
            max-height: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .controls {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: white;
            z-index: 10000;
            font-size: 2.5rem;
            transition: all 0.4s ease;
        }
      
        .close {
            top: 16px;
            right: 13px;
            font-size: 1.5rem;
        }

        .prev {
            left: 15px;
        }

        .next {
            right: 15px;

        }

        #loadMoreBtn {
            display: inline-block;
            margin-top: 20px;
            font-size: 14px;
            font-weight: 600;
            color: #202020;
            cursor: pointer;
            transition: all 0.6s linear;

            border: 1px solid black;
            padding: 0.46rem 1.8rem;
            border-radius: 30px;
        }
        #loadMoreBtn:hover{
            color: white;
            background-color: black;
            border-color:black ;
        }
        .head{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .slider-container {
    max-width: 600px;
    height: 300px;
    overflow: hidden;
    width: 49%;

    margin: auto;
}

.search{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    width: 49%;
    margin:1rem auto;
}
p{
    font-size: 1rem;
    line-height: 1.2rem;
    margin:.5rem auto ;
}

.slider {
    display: flex;
    overflow: hidden;
    min-height: 40vh;
}

.slider img {
    width: 100%;
    display: none;
    transition: all 0.5s ease-in-out;
    object-position: center;
    object-fit: cover;
}

.slider img.active {
    display: block;
}
.slider-container .input-box{
  display: none;

    
}
a{
    position: absolute;
    bottom: 30px;
    padding:0.3rem 0.55rem ;
    border-radius: 50%;
    font-size: 1.14rem;
    font-weight: bolder;
    color: rgb(25, 25, 25);
    background-color: rgb(255, 255, 255);
    right: 10px;
    transition: all 0.4s ease;
    box-shadow: 1px 1px 3px rgb(195, 194, 191) ;
}
a:hover{
    transform: scale(1.1);
    color: rgb(29, 28, 28);
}
.input-box.second{
    display: none;
}
 
@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@media (max-width:850px) {
.head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    width:100%;
    margin: 1rem auto;
    /* margin-right: 1rem; */
}
.slider-container{
    max-width: 700px;
    width: 100%;
    margin-bottom: 0;
}
        
#imageContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 500px;
    margin: 1rem auto;
}
.search .input-box{
    display: none;
}
.input-box.second{
    display: block;
    margin: 1rem auto;
}
}
